@model NPGeek.Web.Models.ViewModels.ParkDetailModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/ntlparkgeek.css" rel="stylesheet" />
<img src="~/Content/img/parks/@(Model.Park.parkCode.ToLower()).jpg" />
<div>
    <h2>@Model.Park.parkName</h2>
    <p>Location: @Model.Park.state</p>
    <p>Acreage: @Model.Park.acreage</p>
    <p>Elevation: @Model.Park.elevationInFeet</p>
    <p>Total trail length: @Model.Park.milesOfTrail</p>
    <p>Number of campsites: @Model.Park.numberOfCampsites</p>
    <p>Climate: @Model.Park.climate</p>
    <p>Founded: @Model.Park.yearFounded</p>
    <p>Annual visitors: @Model.Park.annualVisitorCount</p>
    <p>
        @Model.Park.inspirationalQuote
        - @Model.Park.inspirationalQuoteSource
    </p>
    <p>@Model.Park.parkDescription</p>
    <p>Entry fee: @Model.Park.entryFee</p>
    <p>Number of species: @Model.Park.numberOfAnimalSpecies</p>
</div>
<div>
    <h2>
        Today        
    </h2>
    <div>
        <img src="~/Content/img/weather/@(Model.WeatherModels.FirstOrDefault().forecast).png" />
    </div>

    <div>
        <span>High @Model.WeatherModels.FirstOrDefault().high</span>
        <span>Low @Model.WeatherModels.FirstOrDefault().low</span>
    </div>

    <div>
        @Model.TodayRecommend
    </div>
</div>
@foreach (var weather in Model.WeatherModels)
{
    if (weather.fiveDayForecastValue != 1)
    {
        <img src="~/Content/img/weather/@(weather.forecast).png" />
        <div>
            <span>High @weather.high</span> <span>Low @weather.low</span>
        </div>
    }
}

