@model NPGeek.Web.Models.ViewModels.ParkDetailModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/ntlparkgeek.css" rel="stylesheet" />
<table>
    <tr>
        <td>
            <img src="~/Content/img/parks/@(Model.Park.parkCode.ToLower()).jpg" />
        </td>    
        <td style="padding-left: 20px">
            <h2><b>@Model.Park.parkName</b></h2>
            <p>Location: @Model.Park.state</p>
            <p>Acreage: @Model.Park.acreage</p>
            <p>Elevation: @Model.Park.elevationInFeet</p>
            <p>Total trail length: @Model.Park.milesOfTrail</p>
            <p>Number of campsites: @Model.Park.numberOfCampsites</p>
            <p>Climate: @Model.Park.climate</p>
            <p>Founded: @Model.Park.yearFounded</p>
            <p>Annual visitors: @Model.Park.annualVisitorCount</p>
            <p>Entry fee: $@Model.Park.entryFee</p>
            <p>Number of species: @Model.Park.numberOfAnimalSpecies</p>
        </td>
    </tr>
</table>
<p>
    <b>@Model.Park.inspirationalQuote</b>
    - @Model.Park.inspirationalQuoteSource
</p>
<p>@Model.Park.parkDescription</p>



<h3>
    @(Model.Park.parkName)'s 5-Day Weather Forecast
</h3>

<table>
    <tr>
        <th>Today's Forecast</th>
        @foreach (var weather in Model.WeatherModels)
        {
            if (weather.fiveDayForecastValue != 1)
            {
                <th>Day @weather.fiveDayForecastValue</th>
            }
        }
    </tr>
    <tr>
        <td>
            <img src="~/Content/img/weather/@(Model.WeatherModels.FirstOrDefault().forecast).png" />
        </td>
        @foreach (var weather in Model.WeatherModels)
        {
            if (weather.fiveDayForecastValue != 1)
            {
                <td>
                    <img src="~/Content/img/weather/@(weather.forecast).png" />
                </td>
            }
        }
    <tr>
        <td style="text-align: center">High: @Model.WeatherModels.FirstOrDefault().high</td>
        @foreach (var weather in Model.WeatherModels)
        {
            if (weather.fiveDayForecastValue != 1)
            {

                <td style="text-align: center">High: @weather.high</td>
            }
        }
    </tr>
    <tr>
        <td style="text-align: center">Low: @Model.WeatherModels.FirstOrDefault().low</td>
        @foreach (var weather in Model.WeatherModels)
        {
            if (weather.fiveDayForecastValue != 1)
            {
                <td style="text-align: center">Low: @weather.low</td>
            }
        }
    </tr>
</table>


