@model NPGeek.Web.Models.ViewModels.ParkIndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/ntlparkgeek.css" rel="stylesheet" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <table>
            @foreach (var park in Model.Parks)
            {
                <tr>
                    <td><a href="@Url.Action("Detail", "Home", new { parkId = park.parkCode })"><img src="~/Content/img/parks/@(park.parkCode.ToLower()).jpg" /></td>
                    <td>
                        <a href="@Url.Action("Detail", "Home", new { parkId = park.parkCode })" style="color:white">@park.parkName</a>
                        <p>@park.state</p>
                        <p>@park.parkDescription</p>
                </tr>
            }
        </table>
    </div>
</body>
</html>
