@model List<NPGeek.Web.Models.park>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            @foreach (var park in Model)
            {
                <tr>
                    <td>@park.parkName</td>
                    <td>@park.state</td>
                    <td>@park.milesOfTrail</td>
                    <td>@park.inspirationalQuote</td>
                    <td>@park.parkDescription</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
